<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- Type "! 'Tab'" for this template to popup --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- In routes through app.js, we can call the title param and pass it here --}}
    <title>{{ title }}</title>

    <link rel="stylesheet" href="main.css"/>
</head>
<body>
    <div class="app">
        {{!-- Will get the body template, from index.handlebars within views 
        It's called index since we called render index in the '/' route in app.js --}}
        {{{ body }}}
    </div>
</body>
</html>